.grid { margin:0 auto 1em auto; border-collapse:collapse }
.grid td {
    cursor:pointer;
    width:30px; height:30px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.grid td.clicked {
    background-color:yellow;
    font-weight:bold; color:red;
}

#table-wrapper {
  position:relative;
}

#table-scroll {
  overflow-x: scroll;
}

#table-wrapper table {
  width:100%;
}

#table-wrapper table thead th .text {
  position:absolute;
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}

#container {
    margin-top: 20px;
}