<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}"
          media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}"
          media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
{% include "nav.html" %}

{% include "settings.html" %}


<div id="container" class="container">
    <h3>Grid</h3>
    <button class="btn" type="submit" name="action" id="step_button">Step
        <i class="material-icons right">send</i>
    </button>
    <div id="table-wrapper">
        <div id="table-scroll">
        </div>
    </div>

</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/grid.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/double_scroll.js') }}"></script>
<script>
    $(document).ready(function () {
        gridCreation({{ rows }}, {{ cols }});
        $("#table-scroll").doubleScroll({resetOnWindowResize: true});
    })
</script>
</body>
</html>